.find__chance-container {   
    height: 90px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.find__chance-container_hidden {
    display: none;
}