.info-screen__title-category {
    height: 136px;
    background-image: url('https://wikium.ru/games_build/images/dfa5695938b3bf438aa3e7e69eeea005.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}